.menuWrapper {
	width: 100%;
	height: 8%;
	position: absolute;
}

.menuContainer {
	display: grid;
	grid-template-columns: 33% 1fr 1fr 1fr 33%;
	grid-template-rows: 100%;
	grid-gap: 10px 10px;
}

.menuButton {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background: black;
	width: 150px;
	height: 50px;
}

.expandButton {
	color: white;
	background: black;
	position: absolute;
	width: 150px;
	height: 50px;
	z-index: 1;
  	transition: width 0.75s, height 1s, z-index 0s;
  	transition-delay: 1s, 0s, 0s;
}

.expandButtonActive {
	height: 400px;
	width: 450px;
	z-index: 10;
}

.mainWrapper {
	position: absolute;
	width: 100%;
	height: 92vh;
	top: 8%;
}

.mainContainer {
	display: grid;
	grid-template-columns: 10% repeat(5,1fr) 10%;
	grid-template-rows: repeat(7,minmax(100px,13vh));
	grid-gap: 10px 10px;
}

.main {
	font-size:xx-large;
	position: relative;
}

.upgrade {
	height: 100%;
	background: grey;
	transition: box-shadow 0.5s;
	position: relative;
}

.upgrade:hover {
	box-shadow: 0 4px 20px 5px rgba(256, 35, 35, 0.4), 0 4px 20px 5px rgba(256, 35, 35, 0.4);
}

.blank {
	height: 100%;
	z-index: 2;
	position: relative;
}

.travel {
	background: forestGreen;
	transition: box-shadow 0.5s;
	position: relative;
	font-size: xx-large;
}

.travel:hover{
	box-shadow: 0 4px 20px 5px rgba(35, 256, 35, 0.4), 0 4px 20px 5px rgba(35, 256, 35, 0.4);
}

.unsolved {
	color: black;
	background: grey;
}

.solved {
	color: green;
	background: grey;
}

.claimed {
	color: black;
	background: green;
}	
