.menuWrapper {
	width: 100%;
	height: 8%;
}

.menuContainer {
	display: grid;
	grid-template-columns: 33% 1fr 1fr 1fr 33%;
	grid-template-rows: 100%;
	grid-gap: 10px 10px;
}

.mainWrapper {
	width: 100%;
	height: 100vh;
}

.mainContainer {
	display: grid;
	grid-template-columns: 10% repeat(5,1fr) 10%;
	grid-template-rows: 1fr repeat(5,minmax(100px,16vh)) 1fr;
	grid-gap: 10px 10px;
}

.menuButton {
	color: white;
	background: black;	
}

.upgrade {
	background: grey;
	height: 100%;
	font-size:xx-large;
}

.blank {
	height: 100%;
}
